:root {
    --background-color: #f5f5f5;
    --text-color: #2c2c2c;
  
    --header-background: #466D1D;
    --footer-background: #466D1D;
  
    --button-bg: #A3C644;
    --button-hover: #C2F970;
    --white: #fff;
    --black: #000;
  }
  